<div>
  <div>
    <h1>
      List of all priorities
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new priority
    </h2>

    <form action="/insert_priority" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="day_box">
          Day
        </label>

        <input type="date" id="day_box" name="query_day">
      </div>

      <button>
        Create priority
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        
        <th>
          Description
        </th>

        <th>
          Priority for
        </th>

        <th>
          Priority accomplished?
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_priorities.each do |a_priority| %>
      <tr>
        
        <td>
          <%= a_priority.description %>
        </td>

        <td>
          <%= a_priority.day %>
        </td>

        <td>
          <%= a_priority.priority_accomplished %>
        </td>

        <td>
          <a href="/priorities/<%= a_priority.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
