<div>
  <div>
    <h1>
      Welcome to the Priority Reminder!
    </h1>
  </div>
</div>

<hr>

<div>
  <h3>
    How it works -
  </h3>
</div>

<div>
  Do you often go through your day, get to the end, and wonder why you didn't spend your time on the things you wanted to focus on? If so, this may help!

  Simply create an account and tell the app what priorities you have and for which days. Starting at noon on each day, on the day the priority is applicable to
</div>